.DS_Store
ARphroditeApp/ARphroditeApp.xcworkspace/xcuserdata/Philipp.xcuserdatad/UserInterfaceState.xcuserstate
ARphroditeApp/ARphroditeApp.xcodeproj/xcuserdata/
ARphroditeApp/ARphroditeApp.xcworkspace/xcuserdata/
ARphroditeApp/Pods/Pods.xcodeproj/xcuserdata/
Frameworks/CommunicationManager/CommunicationManager.xcodeproj/xcuserdata/Philipp.xcuserdatad
Frameworks/.DS_Store
Frameworks/CommunicationManager/.DS_Store
ARphroditeApp/.DS_Store
