.DS_Store
ARphroditeApp/ARphroditeApp.xcworkspace/xcuserdata/Philipp.xcuserdatad/UserInterfaceState.xcuserstate
ARphroditeApp/ARphroditeApp.xcodeproj/xcuserdata/
ARphroditeApp/ARphroditeApp.xcworkspace/xcuserdata/
ARphroditeApp/Pods/Pods.xcodeproj/xcuserdata/
